// GLOBALS
// used colors for imeji default theme
// 
// -color-01: #F0F0F0;	// dirty white
// -color-02: #F2F2F2;	// lighten dirty white
// 
// -color-03: #D45A00;	// orange
// -color-04: #4AFF00;	// lighten green
// 
// -color-05: #FF7700;	// orange
// -color-06: #FFC999;	// lighten dirty orange
// 
// -color-07: #D80000;	// lighten red
// -color-08: #990000;	// red
// 
// -color-09: #000000;	// black
// -color-10: #F2F2F2;	// darkgrey
// -color-11: #313131;	// darkgrey - equals #313131
// -color-12: #383838;	// darkgrey - equals #383838
// -color-13: #444444;	// darken grey - equals #444444
// -color-14: #4D4D4D;	// darken grey - equals #4D4D4D
// -color-15: #BBBBBB;	// grey

// IMPORTS: e.g. font families or other foreign css defintions
// ATTENTION css resets and a lot of other things are given bei compass, take notice of _combinedStyles.scss
@import url("http://fonts.googleapis.com/css?family=Open+Sans");


// ICONS
$icon-path: "../icons/";	// relative path to css source
// $icon-path: "/imeji/resources/imj_iconset/";	// path for imeji software resources
$icon-colorfolder-default: "D45A00/";
$icon-colorfolder-hover: "101010/";
$icon-colorfolder-disabled: "BBBBBB/";
$icon-colorfolder-error: "D80000/";



// LOGO
$logo-path: "../logo/";
$logo-file: "logo_for_bright.png";
$logo-position-horizontal: 1.3333em;
$logo-position-vertical: 0;
$logo-width: 21em;
$logo-height: 5em;



// DEFAULTS
// multiple fonts must be declared in ()
$font-family-default: ("Open Sans", Arial, Helvetica, Verdana, sans-serif);
$font-color-default: #101010;
$font-size-default: 75%;
$font-color-critical: #D80000;
$line-height-default: 145%;
$box-shadow-default: 0.545454em 0.545454em 0.545454em #101010;
$border-radius-default: 0.41666666em;
$border-width-default: 0.10em;
$border-style-default: $border-width-default solid #D45A00;
$border-style-dashed: $border-width-default dashed #D45A00;
$border-style-default-double: 0.20em solid #D45A00;
$border-style-dotted-disabled: $border-width-default dotted #BBBBBB;
$border-style-solid-disabled: $border-width-default solid #BBBBBB;



// PAGE WRAPPER
$page-border: ($border-width-default dotted #D45A00);
$page-width: 100%;
$page-width-max: 84.0909em;



// PAGE ELEMENTS
$page-login-form-border-style: $border-style-default;


// body
$body-bgcolor: #F2F2F2;


// navigation, links, ...
$link-color: #D45A00;
$link-color-hover: #101010;
$link-color-active: $link-color-hover;
$link-color-disabled: #BBBBBB;



// buttons
$button-border-width: $border-width-default;
$button-border-style: solid;

$button-color: #F0F0F0;
$button-bgcolor: $link-color;
$button-border: $button-border-style transparent $button-border-width;

$button-color-hover: #000000;
$button-bgcolor-hover: lighten($link-color, 8%);
$button-border-hover: $button-border-style $button-bgcolor-hover $button-border-width;

$button-color-disabled: #444444;
$button-bgcolor-disabled: $link-color-disabled;
$button-border-disabled: $button-border;

$button-cancel-color: #F2F2F2;
$button-cancel-bgcolor: darken($font-color-critical, 12.3%); 
$button-cancel-border: $button-border-style $button-cancel-bgcolor $button-border-width;

$button-cancel-color-hover: #F2F2F2;
$button-cancel-bgcolor-hover: $font-color-critical; 
$button-cancel-border-hover: $button-border-style $button-cancel-bgcolor-hover $button-border-width;

$button-submit-color: $button-color;
$button-submit-bgcolor: $button-bgcolor;
$button-submit-border: $button-border;

$button-submit-color-hover: $button-color-hover;
$button-submit-bgcolor-hover: $button-bgcolor-hover;
$button-submit-border-hover: $button-border-hover;

$button-reset-color: #101010;
$button-reset-bgcolor: #FFA302;
$button-reset-border: $button-border-style $button-reset-bgcolor $button-border-width;

$button-reset-color-hover: $button-reset-color;
$button-reset-bgcolor-hover: #FF9000;
$button-reset-border-hover: $button-border-style $button-reset-bgcolor-hover $button-border-width;

$button-back-color: #D45A00;
$button-back-bgcolor: inherit;
$button-back-border: $button-border-style $button-bgcolor $button-border-width;

$button-back-color-hover: $button-color-hover;
$button-back-bgcolor-hover: $button-bgcolor-hover;
$button-back-border-hover: $button-border-style $button-back-bgcolor-hover $button-border-width;

$button-edit-color: $button-color;
$button-edit-bgcolor: $button-bgcolor;
$button-edit-border: $button-border;

$button-edit-color-hover: $button-color-hover;
$button-edit-bgcolor-hover: $button-bgcolor-hover;
$button-edit-border-hover: $button-border-hover;

$button-remove-color-hover: #F0F0F0;
$button-remove-bgcolor-hover: #990000;

// PAGE HEADER BUTTONS
$pageheader-button-submit-color: $button-color;
$pageheader-button-submit-bgcolor: $button-bgcolor;
$pageheader-button-submit-border: $button-border-style $pageheader-button-submit-bgcolor $button-border-width;

$pageheader-button-submit-color-hover: $button-color-hover;
$pageheader-button-submit-bgcolor-hover: $button-bgcolor-hover;
$pageheader-button-submit-border-hover: $button-border-style $pageheader-button-submit-bgcolor-hover $button-border-width;



// input
$input-border-width: $border-width-default;
$input-border-style: solid;

$input-color: #010101;
$input-bgcolor: #FFFFFF;
$input-border: $input-border-style #8D8D8D $input-border-width;

$input-color-hover: $input-color;
$input-bgcolor-hover: $input-bgcolor;
$input-border-hover: $input-border-style $link-color $input-border-width;

$input-color-disabled: #444444;
$input-bgcolor-disabled: inherit;
$input-border-disabled: $input-border;



// PAGE HEADER INPUT FIELDS
$pageheader-search-input-border: $input-border-style $input-bgcolor $input-border-width;

$pageheader-search-input-border-hover: $input-border-style $link-color $input-border-width;



// select
$select-border-width: $border-width-default;
$select-border-style: solid;
$select-bgcolor: #F2F2F2;

$select-border: $select-border-style #8D8D8D $select-border-width;
$select-border-hover: $select-border-style $link-color $select-border-width;
$select-border-disabled: $select-border;



// MAIN MENU
$mainmenu-item-bgcolor: #D6D8D7;



// META MENU
$meta-input-color: #101010;
$meta-button-color: $link-color;
$meta-input-bgcolor: $body-bgcolor;
$meta-separator-border-style: $border-style-default;



// PAGE TITLE
$pagetitle-color: $font-color-default;
$pagetitle-bgcolor: #D6D8D7;



// OVERLAY MENU
$overlaymenu-header-color: $link-color;
$overlaymenu-bgcolor: #C9CBC6; 
$overlaymenu-bgcolor-critical: $font-color-critical;
$overlaymenu-header-color-hover: $link-color-hover;
$overlaymenu-border-horizontal-separator: $border-style-default;



// MAIN CONTENT
$maincontent-bgcolor: #D6D8D7;



// BREADCRUMP
$breadcrump-overlay-bgcolor: $body-bgcolor; // equals F2F2F2



// PAGINATOR
$paginator-color: $link-color;
$paginator-color-hover: $link-color-hover;
$paginator-color-disabled: $link-color-disabled;
$paginator-bordertop-style: $border-style-default;



// FACETS
$facet-separator-color: $font-color-default;
$facet-bgcolor-hover: lighten($body-bgcolor, 10.5%);	// equals 444444



// HIGHLIGHT AREAs
$highlightarea-border-style: 0 none;
$highlightarea-bgcolor: inherit;
$highlightarea-bgcolor-hover: lighten($body-bgcolor, 10.5%); // equals 444444;

// /* highlights for metadata profile editing
$highlightarea-border-style-mdprofile: $border-style-dotted-disabled;
$highlightarea-bgcolor-mdprofile: $body-bgcolor;
$highlightarea-bgcolor-hover-mdprofile: lighten($body-bgcolor, 10.5%); // equals 444444

$highlightarea-tooltip-bgcolor-hover: lighten($body-bgcolor, 14%);	// equals 4D4D4D



// AUTOCOMPLETE
$autocomplete-container-width: 300px;
$autocomplete-bgcolor: $body-bgcolor;
$autocomplete-bgcolor-loading: $link-color;



// SIMPLE LIST WITH TAB-MENU
$tablist-menu-bgcolor: darken($body-bgcolor, 14%);
$tablist-menuentry-bgcolor-active: $body-bgcolor;
$tablist-content-bgcolor: $body-bgcolor;



// METADATA LISTs -- e.g. on details page
$mdlist-header-separator-border-color: $link-color;
$mdlist-header-color-hover: #F2F2F2;
$mdlist-header-bgcolor-hover: $link-color;
$mdlist-header-bgcolor-active: $link-color;
$mdlist-body-border-top-style: $border-style-solid-disabled;

$techmdlist-bgcolor: #C9CBC6;



// BIBLIOGRAPHIC LIST -- e.g. for collections and album overview
$biblist-item-bgcolor-hover: $body-bgcolor;
$biblist-item-bgcolor-active: lighten($body-bgcolor, 10.5%);	// equals 444444
$biblist-item-bgcolor-active-hover: lighten($body-bgcolor, 14%);	// equals 4D4D4D
$biblist-item-data-bgcolor-hover: lighten($body-bgcolor, 10.5%);	// equals 444444
$biblist-separator-horizontal: 0.10em solid #F2F2F2;



// TILED MEDIA LIST
$tiledlist-overlay-border-style: 0.181818em outset #F0F0F0;
$tiledlist-tooltip-bgcolor: #C9CBC6;
$tiledlist-tooltip-shadow: 0 0 1em #F0F0F0;
$tiledlist-item-bgcolor: #C9CBC6;
$tiledlist-item-bgcolor-selected: $link-color;
$tiledlist-item-bgcolor-hover: $link-color;



// TILED ADMIN LIST
$tiledlistadmin-itemheader-bgcolor: $body-bgcolor;
$tiledlistadmin-itemheader-border-style: $border-width-default solid $body-bgcolor;
$tiledlistadmin-itemcontent-border-style: $border-width-default solid $body-bgcolor;



// METADATA PROFILE PAGE
$mdprofilepage-separatortop-border-style: $border-style-default;



// USER CONFIG
$user-globalinfo-border-style: 0 none;
$user-separatorbottom-border-style: $border-style-dashed;	// used on user page, under password input fields


// METADATA SUB-PANEL (should part of METADATA LISTs)
$mdsubpanel-item-bgcolor-hover: $link-color;
$mdsubpanel-border-bottom-style: $mdlist-body-border-top-style;

// METADATA PROFILE LIST
$mdprofilelist-headline-gradient-color-1: $body-bgcolor;
$mdprofilelist-headline-gradient-color-2: #D6D8D7;
$mdprofilelist-separatortop-border-style: $border-style-default;
$mdprofilelist-separatortop-border-style-inplace: $border-style-dashed;
// METADATA EDITING
$mdprofilelist-dropmd-border-color-active: $link-color !important;
$mdprofilelist-drop-bgcolor-hover: $link-color-disabled !important;



// METADATA PROFILE PREVIEW LIST
$mdprofilepreview-item-border-style: $border-width-default dashed rgba(0, 0, 0, 0.15);



// CREATE OR EDIT A COLLECTION / ALBUM
$mediacontainer-separatortop-border-style: $border-style-default;
$mediacontainer-author-bgcolor: $body-bgcolor;



// BATCH EDIT
$batchedit-globalAssignment-separatortop-border-style: $border-style-default;
$batchedit-itemlist-separatortop-border-style: $border-style-dashed;



// MESSAGES
$messagearea-color: $font-color-default;
$message-info-color: #007A29;
$message-info-bgcolor: #C9CBC6;
$message-warn-color: $font-color-critical;	// equals D80000
$message-warn-bgcolor: $link-color-disabled;	// equals BBBBBB



// DIALOGS
$modaldialog-bgcolor: #C9CBC6;
$modaldialog-shadow: $box-shadow-default;



// CUSTOM DROPDOWN / SELECTBOX
$selectbox-border-style: $border-style-default;
$selectbox-text-color: $link-color;


// IMAGE STACK
$imgstack-border-style: 2px solid #8D8D8D;
$imgstack-background-style-before: none repeat scroll 0 0 #101010;
$imgstack-background-style-after: none repeat scroll 0 0 #D6D8D7;
$imgstack-background-style: none repeat scroll 0 0 #BBBBBB;
$imgstack-shadow: none;



// SHARE FORM
$share-separator-border-style: $border-style-dashed;
$share-rightstable-body-bgcolor: lighten($body-bgcolor, 3.3%);	// equals 313131



// PAGINATOR
$paginator-pagenumber-color: $link-color;
$paginator-pagenumber-color-hover: $link-color-hover;
$paginator-pagenumber-color-active: $link-color-hover;



// UPLOAD
$upload-separation-border-style: $border-style-dashed;
$upload-optionarea-bgcolor: inherit;
$upload-messagearea-bgcolor-error: $body-bgcolor;
$upload-messagearea-bgcolor-success: $body-bgcolor;

// UPLOAD STYLE FOR PLUPLOAD
$plupload-header-bgcolor: #C9CBC6;
$plupload-content-bgcolor: lighten($maincontent-bgcolor, 10%);
$plupload-footer-bgcolor: #C9CBC6;



// WELCOME / START PAGE
$welcome-info-bgcolor: $body-bgcolor;
$welcome-info-tabs-bgcolor: #C9CBC6;
$welcome-info-listentry-bgcolor: $welcome-info-tabs-bgcolor;
$welcome-info-tabs-bgcolor-active: #D6D8D7;

$welcome-carousel-bgcolor: transparent;
$welcome-carousel-infolayer-bgcolor: $body-bgcolor;



// DETAILPAGE
$detailpage-displaycontainer-borderbottom-style: $border-style-default;



// ADVANCED SEARCH
$advsearch-separatortop-border-style: $border-style-default;



// ENTRY PAGE OF COLLECTION AND ALBUM
$entrypage-separatortop-border-style: $border-style-default;



// INGEST PAGE
$ingestpage-separatortop-border-style: $border-style-default;
$ingestpage-messagearea-border-style: $border-style-default;



// UPLOAD PAGE
$uploadpage-separatortop-border-style: $border-style-default;



// SHARE PAGE
$sharepage-separatortop-border-style: $border-style-default;



// ADMIN PAGE
$adminpage-separatortop-border-style: $border-style-default;



// REGISTER PAGE
$register-step-active-font-size: (145%);
$register-step-submitted-bg-color: $link-color;

// following are vars to discuss or rework
// media in image_details.xhtml
$media-active-add-bgcolor-hover: #444444;
$media-widthdrawn-color: #D80000;
