// the following styles are under development and have NO stable status
// feel free to test here and don't forget to delete failed / deprecated tests
// these file is the latest include in _combinedStyles.scss

// following lines are to show "powered by" logos - dev by natasab
.imj_siteWrapper {
  .imj_siteFooter {
    height: 70px;
  }
}
.imj_startpageFooterLogos {
  .imj_poweredby_software { 
    float: left;
    margin-left: 2%;
    display: table;
    
    .imj_poweredby_software_text {
      display: table-cell;
      vertical-align: middle;
    }
    .imj_poweredby_software_image {
      display: table-cell;
      vertical-align: middle;
      padding-left: 0.5em;
    }
  }
  .imj_poweredby_institution { 
    float: right;
    margin-right: 2%;
  }
}

// following lines are to describe the imprint - dev by natasab
.imj_siteWrapper {
  .imj_headline_text {
    h1 {
      font-size: 160%; 
      font-weight: bold; 
      letter-spacing: 0.045em; 
      line-height: normal; 
    }
    h2 { 
      font-size: 140%; 
      font-weight: bold; 
      letter-spacing: 0.045em; 
      line-height: normal; 
    }
    h3 { 
      font-size: 120%; 
      font-weight: bold; 
      letter-spacing: 0.045em; 
      line-height: normal; 
    }
  }
  .imj_justified_text {
    text-align: justify;
  }
}