// /* ===[ Main Menu Standard ]===
// ================================================== */
.imj_mainMenuStandard {
	display: inline-block;
	padding: 0 3% 1em 3%;
	// margin-bottom: 0.454545em;
	font-size: 135%;
	letter-spacing: 0.090909em;
	text-align: left;
	text-transform: uppercase;

	.imj_mainMenuStandardItem {
		display: inline-block;
		padding: 0.272727em 0.181818em 0.272727em 0.272727em;
		margin-right: 0.454545em;
		text-decoration: none;
		background-color: $mainmenu-item-bgcolor;

		@include border-radius($border-radius-default);
	}
}

// /* ===[ Metamenu Standard ]===
// ================================================== */
.imj_metaMenuStandardSingleLine {
	width: 100%;
	margin-top: 0.363636em;
	text-align: right;
	
	.imj_metaMenuSeparator {
		height: 1.545454em;
		width: 0.090909em;
		margin: 0 0.727272em;
		border-right: $meta-separator-border-style;
		display: inline-block;
		visibility: hidden;
	}

	.imj_metaMenuItem:not[select] {
		display: inline;
	}
	
	.imj_metaMenuItem {
		vertical-align: baseline;
		
		input {
			height: 1.454545em;
			color: $meta-input-color;
			background-color: $meta-input-bgcolor;
			border: $border-style-default;
			vertical-align: top;
		}
		input[type="text"], input[type="password"] {
			width: 12em;
			margin-right: 0.181818em;
			border: $border-style-default-double;
		}
		input[type="submit"] {
			color: $meta-button-color;
			padding: 0;
			margin-left: 0.272727em;
			border: none 0;
			vertical-align: text-top;
			cursor: pointer;
			background-color: $color-9;
		}
		input[type="submit"]:hover {
			@include hover(a);
		}
		
		@include gchromeInputFix($meta-input-bgcolor, $meta-input-color);
	}
	.imj_customSelectbox {
		vertical-align: middle;
		padding-top: 0.181818em;
		
		select {
			margin-top: -0.181818em;
		}
	}
}


// /* ===[ Content (Sub) Menu ]===
// ================================================== */
.imj_contentMenu {
	clear: both;
	padding: 0;
	margin : 0.5em 3%;
	letter-spacing: 0.045em;
	text-transform: uppercase;

	.imj_contentMenuItem {
		display: inline-block;
		padding: 0.5em;
		&:hover {
			background-color: $media-active-add-bgcolor-hover;
		}
		/*&.imj_active{
			background-color : $media-active-add-bgcolor-hover;
		}*/
	}
	.imj_contentMenuSeparator {
		display: inline-block;
		width: 0.090909em; 
		height: 1.090909em;
		margin: 0 0.318em; 
		padding: 0;
	}
	+ .imj_contentSubMenu {
		margin-top: 0.272727em;
	}
}
.imj_contentSubMenu {
	clear: both;
	width: 95%;
	padding: 0.3em 3%;
	letter-spacing: 0.045em;

	.imj_contentSubMenuItem {
		display: inline-block;
		padding: 0;
		margin-right: 1em;
	}
	.imj_contentSubMenuSeparator {
		display: inline-block;
		width: 0.090909em; 
		height: 1.090909em;
		margin: 0 0.318em; 
		padding: 0;
	}
	+ .imj_contentSubMenu {
		margin-top: 0.272727em;
	}
}

// /* ===[ Overlay Menu ]===
// ================================================== */
.imj_overlayMenu {
	display: inline-block;
	padding: 0.125em 0.25em;

	.imj_menuHeader {
		text-align: left;
		color: $overlaymenu-header-color;
		cursor: pointer;
		
		.selectAll:before{
			font-family: FontAwesome;
			content: "\f00c";
			padding-right: 0.1em;
		}
		
		.selectNone:before{
			font-family: FontAwesome;
			content: "\f00d ";
			padding-right: 0.1em;
		}
		
	}
	
	.imj_menuText {
		text-align: left;
		line-height: 175%;
		padding: 0.5em 1em;
		display: block;
	}
	
	.imj_menuSimpleSearch{
		 width: $simplesearch-width + 1em; 
		 li{
			 border-top: 1px dashed $color-11;
			 padding: 0.5em 1em;
		 }
	}
	
	.imj_menuBody, .imj_menuSimpleSearch{
		display: none;
		position: absolute;
		background-color: $overlaymenu-bgcolor;
       
	}
	
	&:hover {
		.imj_menuHeader {
			color: $overlaymenu-header-color-hover;
		}
		> .imj_menuBody {
			display: block;
			z-index: 100;
		}
	}
	
	.imj_criticalItem {
		&:hover {
			background-color: $overlaymenu-bgcolor-critical;
		}
	}

	.imj_listItemSeparator {
		padding-top: 0.181818em;
		border-top: $overlaymenu-border-horizontal-separator;
	}

	li {
		line-height: 175%;
		padding: 0.272727em 1em;
		&:hover {
			 background-color: $mainmenu-item-bgcolor;
		}	
	}
	.hovered{
		 background-color: $mainmenu-item-bgcolor;
   }	
}
.imj_menuRight{
	float: right;
}

