// GLOBALS
// used colors for imeji default theme */
// 
// -color-01: #F0F0F0;	// dirty white
// -color-02: #F2F2F2;	// lighten dirty white
// 
// -color-03: #6CAE2F;	// green
// -color-04: #4AFF00;	// lighten green
// 
// -color-05: #FF7700;	// orange
// -color-06: #FFC999;	// lighten dirty orange
// 
// -color-07: #D80000;	// lighten red
// -color-08: #990000;	// red
// 
// -color-09: #000000;	// black
// -color-10: #292929;	// darkgrey
// -color-11: #313131;	// darkgrey - equals #313131
// -color-12: #383838;	// darkgrey - equals #383838
// -color-13: #444444;	// darken grey - equals #444444
// -color-14: #4D4D4D;	// darken grey - equals #4D4D4D
// -color-15: #BBBBBB;	// grey

// IMPORTS: e.g. font families or other foreign css defintions
// ATTENTION css resets and a lot of other things are given bei compass, take notice of _combinedStyles.scss
@import url(http://fonts.googleapis.com/css?family=Open+Sans);



// ICONS
$icon-path: "../icons/";	// relative path to css source
// $icon-path: "/imeji/resources/imj_iconset/";	// path for imeji software resources
$icon-colorfolder-default: "6CAE2F/";
$icon-colorfolder-hover: "F0F0F0/";
$icon-colorfolder-disabled: "BBBBBB/";
$icon-colorfolder-error: "D80000/";



// LOGO
$logo-path: "../logo/";
$logo-file: "logo_imeji.gif";
$logo-position-horizontal: -1.909090em;
$logo-position-vertical: 0;
$logo-width: 13em;
$logo-height: 5em;



// DEFAULTS
// multiple fonts must be declared in ()
$font-family-default: ("Open Sans", Arial, Helvetica, Verdana, sans-serif);
$font-color-default: #F0F0F0;
$font-size-default: 75%;
$font-color-critical: #D80000;
$line-height-default: 145%;
$box-shadow-default: 0.545454em 0.545454em 0.545454em #292929;
$border-radius-default: 0.41666666em;
$border-width-default: 0.10em;
$border-style-default: $border-width-default solid #6CAE2F;
$border-style-dashed: $border-width-default dashed #6CAE2F;
$border-style-default-double: 0.20em solid #6CAE2F;
$border-style-dotted-disabled: $border-width-default dotted #BBBBBB;
$border-style-solid-disabled: $border-width-default solid #BBBBBB;



// PAGE WRAPPER
$page-border: ($border-width-default dotted #6CAE2F);
$page-width: 100%;
$page-width-max: 84.0909em;



// PAGE ELEMENTS
$page-login-form-border-style: $border-style-default;


// body
$body-bgcolor: #292929;


// navigation, links, ...
$link-color: #6CAE2F;
$link-color-hover: #F0F0F0;
$link-color-active: $link-color-hover;
$link-color-disabled: #BBBBBB;



// buttons
$button-border-width: $border-width-default;
$button-border-style: solid;

$button-color: #F0F0F0;
$button-bgcolor: $link-color;
$button-border: $button-border-style transparent $button-border-width;

$button-color-hover: #000000;
$button-bgcolor-hover: #4AFF00;
$button-border-hover: $button-border-style $button-bgcolor-hover $button-border-width;

$button-color-disabled: #444444;
$button-bgcolor-disabled: $link-color-disabled;
$button-border-disabled: $button-border;

$button-cancel-color: $font-color-default;
$button-cancel-bgcolor: darken($font-color-critical, 12.3%); // #990000;
$button-cancel-border: $button-border-style $button-cancel-bgcolor $button-border-width;

$button-cancel-color-hover: $font-color-default;
$button-cancel-bgcolor-hover: $font-color-critical; // equals #D80000;
$button-cancel-border-hover: $button-border-style $button-cancel-bgcolor-hover $button-border-width;

$button-submit-color: $button-color;
$button-submit-bgcolor: $button-bgcolor;
$button-submit-border: $button-border;

$button-submit-color-hover: $button-color-hover;
$button-submit-bgcolor-hover: $button-bgcolor-hover;
$button-submit-border-hover: $button-border-hover;

$button-reset-color: #000000;
$button-reset-bgcolor: #FF7700;
$button-reset-border: $button-border-style $button-reset-bgcolor $button-border-width;

$button-reset-color-hover: $button-reset-color;
$button-reset-bgcolor-hover: #FFC999;
$button-reset-border-hover: $button-border-style $button-reset-bgcolor-hover $button-border-width;

$button-back-color: $button-color;
$button-back-bgcolor: inherit;
$button-back-border: $button-border-style $button-bgcolor $button-border-width;

$button-back-color-hover: $button-color-hover;
$button-back-bgcolor-hover: $button-bgcolor-hover;
$button-back-border-hover: $button-border-style $button-back-bgcolor-hover $button-border-width;

$button-edit-color: $button-color;
$button-edit-bgcolor: $button-bgcolor;
$button-edit-border: $button-border;

$button-edit-color-hover: $button-color-hover;
$button-edit-bgcolor-hover: $button-bgcolor-hover;
$button-edit-border-hover: $button-border-hover;

$button-remove-color-hover: #F0F0F0;
$button-remove-bgcolor-hover: #990000;

// PAGE HEADER BUTTONS 
$pageheader-button-submit-color: $button-submit-color;
$pageheader-button-submit-bgcolor: $button-submit-bgcolor;
$pageheader-button-submit-border: $button-border-style $pageheader-button-submit-bgcolor $button-border-width; 

$pageheader-button-submit-color-hover: $button-submit-color-hover;
$pageheader-button-submit-bgcolor-hover: $button-submit-bgcolor-hover;
$pageheader-button-submit-border-hover: $button-border-style $pageheader-button-submit-bgcolor-hover $button-border-width;



// input
$input-border-width: $border-width-default;
$input-border-style: solid;

$input-color: #000000;
$input-bgcolor: $font-color-default;
$input-border: $input-border-style transparent $input-border-width;

$input-color-hover: $input-color;
$input-bgcolor-hover: $input-bgcolor;
$input-border-hover: $input-border-style $link-color $input-border-width;

$input-color-disabled: #444444;
$input-bgcolor-disabled: inherit;
$input-border-disabled: $input-border;



// PAGE HEADER INPUT FIELDS
$pageheader-search-input-border: $input-border;

$pageheader-search-input-border-hover: $input-border-hover;



// select
$select-border-width: $border-width-default;
$select-border-style: solid;
$select-bgcolor: #F0F0F0;

$select-border: $select-border-style transparent $select-border-width;
$select-border-hover: $select-border-style $link-color $select-border-width;
$select-border-disabled: $select-border;



// MAIN MENU
$mainmenu-item-bgcolor: lighten($body-bgcolor, 3.3%); // equals 313131



// META MENU
$meta-input-color: #F2F2F2;
$meta-button-color: $link-color;
$meta-input-bgcolor: $body-bgcolor;
$meta-separator-border-style: $border-style-default;



// PAGE TITLE
$pagetitle-color: $font-color-default;
$pagetitle-bgcolor: lighten($body-bgcolor, 3.3%); // equals 313131



// OVERLAY MENU
$overlaymenu-header-color: $link-color;
$overlaymenu-bgcolor: #444444; 
$overlaymenu-bgcolor-critical: $font-color-critical;
$overlaymenu-header-color-hover: $link-color-hover;
$overlaymenu-border-horizontal-separator: $border-style-default;



// MAIN CONTENT
$maincontent-bgcolor: lighten($body-bgcolor, 3.3%); // equals 313131



// BREADCRUMP
$breadcrump-overlay-bgcolor: $body-bgcolor; // equals 292929



// PAGINATOR
$paginator-color: $link-color;
$paginator-color-hover: $link-color-hover;
$paginator-color-disabled: $link-color-disabled;
$paginator-bordertop-style: $border-style-default;



// FACETS
$facet-separator-color: $font-color-default;
$facet-bgcolor-hover: lighten($body-bgcolor, 10.5%);	// equals 444444



// HIGHLIGHT AREAs
$highlightarea-border-style: 0 none;
$highlightarea-bgcolor: inherit;
$highlightarea-bgcolor-hover: lighten($body-bgcolor, 10.5%); // equals 444444;

// /* highlights for metadata profile editing
$highlightarea-border-style-mdprofile: $border-style-dotted-disabled;
$highlightarea-bgcolor-mdprofile: $body-bgcolor;
$highlightarea-bgcolor-hover-mdprofile: lighten($body-bgcolor, 10.5%); // equals 444444

$highlightarea-tooltip-bgcolor-hover: lighten($body-bgcolor, 14%);	// equals 4D4D4D



// AUTOCOMPLETE
$autocomplete-container-width: 300px;
$autocomplete-bgcolor: $body-bgcolor;
$autocomplete-bgcolor-loading: $link-color;



// METADATA LISTs -- e.g. on details page
$mdlist-header-separator-border-color: $link-color;
$mdlist-header-color-hover: $link-color-hover;
$mdlist-header-bgcolor-hover: $link-color;
$mdlist-header-bgcolor-active: $link-color;
$mdlist-body-border-top-style: $border-style-solid-disabled;

$techmdlist-bgcolor: lighten($body-bgcolor, 10.5%); // equals 444444



// BIBLIOGRAPHIC LIST -- e.g. for collections and album overview
$biblist-item-bgcolor-hover: $body-bgcolor;
$biblist-item-bgcolor-active: lighten($body-bgcolor, 10.5%);	// equals 444444
$biblist-item-bgcolor-active-hover: lighten($body-bgcolor, 14%);	// equals 4D4D4D
$biblist-item-data-bgcolor-hover: lighten($body-bgcolor, 10.5%);	// equals 444444
$biblist-separator-horizontal: 0.10em solid #292929;



// TILED MEDIA LIST
$tiledlist-overlay-border-style: 0.181818em outset #F0F0F0;
$tiledlist-tooltip-bgcolor: lighten($body-bgcolor, 10.5%);	// equals 444444
$tiledlist-tooltip-shadow: $box-shadow-default;
$tiledlist-item-bgcolor: lighten($body-bgcolor, 10.5%);	// equals 444444
$tiledlist-item-bgcolor-selected: $link-color;
$tiledlist-item-bgcolor-hover: $link-color;



// TILED ADMIN LIST
$tiledlistadmin-itemheader-bgcolor: $body-bgcolor;
$tiledlistadmin-itemheader-border-style: $border-width-default solid $body-bgcolor;
$tiledlistadmin-itemcontent-border-style: $border-width-default solid $body-bgcolor;



// METADATA PROFILE LIST
$mdprofilelist-headline-gradient-color-1: $body-bgcolor;
$mdprofilelist-headline-gradient-color-2: #313131;



// USER CONFIG
$user-globalinfo-border-style: 0 none;
$user-separatorbottom-border-style: $border-style-dashed;	// used on user page, under password input fields


// METADATA SUB-PANEL (should part of METADATA LISTs)
$mdsubpanel-item-bgcolor-hover: $link-color;
$mdsubpanel-border-bottom-style: $mdlist-body-border-top-style;

// METADATA PROFILE LIST
$mdprofilelist-separatortop-border-style: $border-style-default;
$mdprofilelist-separatortop-border-style-inplace: $border-style-dashed;
// METADATA EDITING
$mdprofilelist-dropmd-border-color-active: $link-color !important;
$mdprofilelist-drop-bgcolor-hover: $link-color-disabled !important;



// CREATE OR EDIT A COLLECTION / ALBUM
$mediacontainer-separatortop-border-style: $border-style-default;
$mediacontainer-author-bgcolor: $body-bgcolor;



// BATCH EDIT
$batchedit-globalAssignment-separatortop-border-style: $border-style-default;
$batchedit-itemlist-separatortop-border-style: $border-style-dashed;



// MESSAGES
$messagearea-color: $font-color-default;	// equals F0F0F0
$message-info-color: $link-color;
$message-info-bgcolor: lighten($body-bgcolor, 10.5%); // equals 444444
$message-warn-color: $font-color-critical;	// equals D80000
$message-warn-bgcolor: $link-color-disabled;	// equals BBBBBB



// DIALOGS
$modaldialog-bgcolor: lighten($body-bgcolor, 10.5%);	// equals 444444
$modaldialog-shadow: $box-shadow-default;



// CUSTOM DROPDOWN / SELECTBOX
$selectbox-border-style: $border-style-default;
$selectbox-text-color: $link-color;


// IMAGE STACK
$imgstack-border-style: 2px solid #F0F0F0;
$imgstack-background-style-before: none repeat scroll 0 0 #F0F0F0;
$imgstack-background-style-after: none repeat scroll 0 0 #444444;
$imgstack-background-style: none repeat scroll 0 0 #BBBBBB;
$imgstack-shadow: $box-shadow-default;



// SHARE FORM
$share-separator-border-style: $border-style-dashed;
$share-rightstable-body-bgcolor: lighten($body-bgcolor, 3.3%);	// equals 313131



// PAGINATOR
$paginator-pagenumber-color: $link-color;
$paginator-pagenumber-color-hover: $link-color-hover;
$paginator-pagenumber-color-active: $link-color-hover;



// UPLOAD
$upload-separation-border-style: $border-style-dashed;
$upload-urlref-bgcolor: $body-bgcolor;
$upload-optionarea-bgcolor: lighten($body-bgcolor, 10.5%);	// equals 444444
$upload-messagearea-bgcolor-error: #757575;
$upload-messagearea-bgcolor-success: $body-bgcolor;

// UPLOAD STYLE FOR PLUPLOAD
$plupload-header-bgcolor: #292929;
$plupload-footer-bgcolor: #292929;
$plupload-content-bgcolor: #757575;



// WELCOME / START PAGE
$welcome-info-bgcolor: $body-bgcolor;
$welcome-info-tabs-bgcolor: lighten($body-bgcolor, 3.3%); // equals 313131
$welcome-info-listentry-bgcolor: $welcome-info-tabs-bgcolor;
$welcome-info-tabs-bgcolor-active: lighten($body-bgcolor, 5.75%); // equals 383838

$welcome-carousel-bgcolor: transparent;
$welcome-carousel-infolayer-bgcolor: $body-bgcolor;



// DETAILPAGE
$detailpage-displaycontainer-borderbottom-style: $border-style-default;



// ADVANCED SEARCH
$advsearch-separatortop-border-style: $border-style-default;



// ENTRY PAGE OF COLLECTION AND ALBUM
$entrypage-separatortop-border-style: $border-style-default;



// INGEST PAGE
$ingestpage-separatortop-border-style: $border-style-default;
$ingestpage-messagearea-border-style: $border-style-default;



// UPLOAD PAGE
$uploadpage-separatortop-border-style: $border-style-default;



// SHARE PAGE
$sharepage-separatortop-border-style: $border-style-default;



// ADMIN PAGE
$adminpage-separatortop-border-style: $border-style-default;



// following are vars to discuss or rework
// media in image_details.xhtml
$media-active-add-bgcolor-hover: #444444;
$media-widthdrawn-color: #D80000;
