// VARIOUS VARIABLES, which not match with other components

// IMPORTS, don't change the order of imports, because they are depends another
@import "outboxVariables";
@import "../../default/sass/_combinedStyles.scss";

.imj_siteWrapper {
//	height: 100% !important;
	position: relative;
//	margin-bottom: 0;

	.imj_siteFooter {
		position: absolute;
		bottom: 0;
                height: 120px;
		max-width: 84.0909em;

		border-bottom: 0.6em solid $color-03;
    		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

                img {
                        max-height: 48px;
                }

                .imj_poweredby_software {
                        float: right;
                        margin-left: 0;
                        margin-right: 2%;
//                      margin-top: -1.181818em;
                }

                .imj_poweredby_institution {
                        position: absolute;
                        background-color: #e4e4e4;
                        border-top-right-radius: 30px;
                        box-shadow: 0 0 10px #808080;
                        margin-left: 2%;
                        margin-right: 0;
                        height: 110px;
                        width: 215px;
			padding-top: 15px;
		}

	}

}
